<div class="major-container">
  <div class="row">
    <ng-container *ngFor="let majorPair of majorPairs">
      <div class="col-lg-3">
        <app-forex-pair-info-card
          [currencyPairName]="majorPair"
          [currentValue]="getValuesForPair(majorPair).value"
          [lastValueChange]="getValuesForPair(majorPair).additionalInfo.valueChange"
          [lastPercentageChange]="getValuesForPair(majorPair).additionalInfo.percentageChange"
      ></app-forex-pair-info-card><br>
      </div>
    </ng-container>
  </div>
</div>

