<div class='info-container'>
  <br><p>
    <b>Forex monitor</b> pozwala na śledzenie akutalnych i historycznych kursów walut. W prosty sposób daje możliwość obliczenia kursu wymiany interesującej waluty. Umożliwia wybranie jeden z dostępnych walut odniesienia i obserwację aktualnych oraz historycznych kursów wymiany walut dla różnych par walutowych.
  </p>

  <p>
    Kursy walut prezentowane na stronie są dostarczane przez Europejski Bank Centralny (<i>European Central Bank</i>) w ramach bezpłatnej usługi <i>Exchange rates API</i>. Kursy walut są zwykle aktualizowane około godziny 16:00 CET każdego dnia roboczego. Opierają się na regularnej, codziennej procedurze uzgadniania kursów między bankami centralnymi w całej Europie, która zwykle odbywa się o 14:15 CET.
    <a href="https://exchangeratesapi.io/">Więcej informacji</a>
  </p>
  <!-- <img id="european-central-bank-img" src="assets/icons/dollars.png"> -->
</div>
