<h2 mat-dialog-title>Details for </h2>
<mat-dialog-content class="mat-typography">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris placerat tincidunt elit sit amet eleifend. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla convallis eros sit amet mauris tempor fringilla in eu quam. Nulla mollis nisi ut tortor pretium, eget varius ligula porta. Fusce et justo vehicula, volutpat felis a, vestibulum nisl. Donec magna risus, lacinia vitae tellus vitae, congue ornare ligula. Donec lacinia quis neque placerat sollicitudin. Ut dui ligula, lacinia semper maximus vitae, laoreet id erat. Integer a scelerisque lorem, nec commodo dolor. Suspendisse non diam eu magna laoreet tempus.
  </p>
  <p>
    Morbi ipsum neque, vulputate sed finibus ac, hendrerit luctus tellus. Phasellus est diam, finibus at dui nec, faucibus vestibulum erat. Duis eu metus orci. Phasellus et sagittis quam, non fringilla lorem. Quisque eget velit urna. Suspendisse bibendum nec mauris at consectetur. Integer auctor congue lorem. Integer sem magna, venenatis et aliquam eget, dignissim nec leo. Cras cursus libero at egestas pretium.
  </p>
  <br>
  <app-history-chart></app-history-chart>
  <p>
    Sed eu justo iaculis, blandit sem eget, tempus ipsum. Cras interdum bibendum velit, eget ultricies quam faucibus vitae. Etiam magna quam, fringilla sed lacus at, efficitur placerat dui. Integer sapien leo, rhoncus eget malesuada quis, faucibus ac lacus. Morbi sapien est, semper vel consequat sit amet, finibus non urna. Sed in justo erat. Etiam venenatis dictum lacus semper vestibulum. Aliquam aliquam mauris et interdum iaculis. Aliquam erat volutpat. Sed risus risus, ultrices convallis auctor ut, sagittis at elit. Suspendisse ut diam cursus, viverra elit id, maximus ipsum. Nullam pharetra feugiat augue vel efficitur. Proin pellentesque ligula id nibh sagittis, nec auctor erat varius. In sed nisl vitae dui aliquet finibus. Curabitur id ultricies justo, eget imperdiet lorem.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris placerat tincidunt elit sit amet eleifend. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla convallis eros sit amet mauris tempor fringilla in eu quam. Nulla mollis nisi ut tortor pretium, eget varius ligula porta. Fusce et justo vehicula, volutpat felis a, vestibulum nisl. Donec magna risus, lacinia vitae tellus vitae, congue ornare ligula. Donec lacinia quis neque placerat sollicitudin. Ut dui ligula, lacinia semper maximus vitae, laoreet id erat. Integer a scelerisque lorem, nec commodo dolor. Suspendisse non diam eu magna laoreet tempus.
  </p>
  <p>
    Morbi ipsum neque, vulputate sed finibus ac, hendrerit luctus tellus. Phasellus est diam, finibus at dui nec, faucibus vestibulum erat. Duis eu metus orci. Phasellus et sagittis quam, non fringilla lorem. Quisque eget velit urna. Suspendisse bibendum nec mauris at consectetur. Integer auctor congue lorem. Integer sem magna, venenatis et aliquam eget, dignissim nec leo. Cras cursus libero at egestas pretium.
  </p>
  <p>
    Nam tempus sapien odio, vel varius nibh ullamcorper sit amet. Maecenas ultricies consectetur convallis. Aliquam sed pellentesque mi. Cras porttitor hendrerit nisl, sed gravida urna lacinia sit amet. Vestibulum non laoreet magna. Donec condimentum mauris eu magna congue, ac interdum est volutpat. Praesent id erat metus. Curabitur cursus eros erat, nec rutrum elit consequat sit amet. Mauris eu vulputate tortor, nec convallis dui. Morbi id ligula sed dolor auctor rhoncus. Proin suscipit laoreet urna ac volutpat. Pellentesque suscipit dapibus tellus, et ultrices ante sollicitudin nec. Cras vitae vulputate erat. Duis cursus mi turpis, ac rhoncus dolor efficitur mattis.
  </p>
  <p>
    Nam ut fermentum lorem. Sed at tincidunt ante. Quisque vel mi et sapien rutrum consequat eu sit amet mauris. Vestibulum sed orci vitae nisl malesuada cursus. Phasellus turpis eros, efficitur ac sollicitudin sed, lacinia id ipsum. Praesent eleifend velit nec auctor finibus. In hac habitasse platea dictumst. Mauris a dolor tortor. Donec aliquet turpis vel egestas mattis.
  </p>
  <p>
    Sed eu justo iaculis, blandit sem eget, tempus ipsum. Cras interdum bibendum velit, eget ultricies quam faucibus vitae. Etiam magna quam, fringilla sed lacus at, efficitur placerat dui. Integer sapien leo, rhoncus eget malesuada quis, faucibus ac lacus. Morbi sapien est, semper vel consequat sit amet, finibus non urna. Sed in justo erat. Etiam venenatis dictum lacus semper vestibulum. Aliquam aliquam mauris et interdum iaculis. Aliquam erat volutpat. Sed risus risus, ultrices convallis auctor ut, sagittis at elit. Suspendisse ut diam cursus, viverra elit id, maximus ipsum. Nullam pharetra feugiat augue vel efficitur. Proin pellentesque ligula id nibh sagittis, nec auctor erat varius. In sed nisl vitae dui aliquet finibus. Curabitur id ultricies justo, eget imperdiet lorem.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris placerat tincidunt elit sit amet eleifend. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla convallis eros sit amet mauris tempor fringilla in eu quam. Nulla mollis nisi ut tortor pretium, eget varius ligula porta. Fusce et justo vehicula, volutpat felis a, vestibulum nisl. Donec magna risus, lacinia vitae tellus vitae, congue ornare ligula. Donec lacinia quis neque placerat sollicitudin. Ut dui ligula, lacinia semper maximus vitae, laoreet id erat. Integer a scelerisque lorem, nec commodo dolor. Suspendisse non diam eu magna laoreet tempus.
  </p>
  <p>
    Morbi ipsum neque, vulputate sed finibus ac, hendrerit luctus tellus. Phasellus est diam, finibus at dui nec, faucibus vestibulum erat. Duis eu metus orci. Phasellus et sagittis quam, non fringilla lorem. Quisque eget velit urna. Suspendisse bibendum nec mauris at consectetur. Integer auctor congue lorem. Integer sem magna, venenatis et aliquam eget, dignissim nec leo. Cras cursus libero at egestas pretium.
  </p>
  <p>
    Nam tempus sapien odio, vel varius nibh ullamcorper sit amet. Maecenas ultricies consectetur convallis. Aliquam sed pellentesque mi. Cras porttitor hendrerit nisl, sed gravida urna lacinia sit amet. Vestibulum non laoreet magna. Donec condimentum mauris eu magna congue, ac interdum est volutpat. Praesent id erat metus. Curabitur cursus eros erat, nec rutrum elit consequat sit amet. Mauris eu vulputate tortor, nec convallis dui. Morbi id ligula sed dolor auctor rhoncus. Proin suscipit laoreet urna ac volutpat. Pellentesque suscipit dapibus tellus, et ultrices ante sollicitudin nec. Cras vitae vulputate erat. Duis cursus mi turpis, ac rhoncus dolor efficitur mattis.
  </p>

  </mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Zamknij</button>
  <button mat-button>Przejdź do ...</button>
</mat-dialog-actions>


<!-- Copyright 2020 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
