<h2 mat-dialog-title>
  <img src='https://www.countryflags.io/{{currentCurrencyPair.substring(0,2)}}/flat/64.png'>
  <img src='https://www.countryflags.io/{{currentCurrencyPair.substring(3,6)}}/flat/64.png'>
  <b>  {{ currentCurrencyPair }}</b>
  <h6>{{ currentCurrencyPairFullName }}</h6>
</h2>
<mat-dialog-content class="mat-typography">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris placerat tincidunt elit sit amet eleifend. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla convallis eros sit amet mauris tempor fringilla in eu quam. Nulla mollis nisi ut tortor pretium, eget varius ligula porta. Fusce et justo vehicula, volutpat felis a, vestibulum nisl. Donec magna risus, lacinia vitae tellus vitae, congue ornare ligula. Donec lacinia quis neque placerat sollicitudin. Ut dui ligula, lacinia semper maximus vitae, laoreet id erat. Integer a scelerisque lorem, nec commodo dolor. Suspendisse non diam eu magna laoreet tempus.
  </p>
  <p>
    Morbi ipsum neque, vulputate sed finibus ac, hendrerit luctus tellus. Phasellus est diam, finibus at dui nec, faucibus vestibulum erat. Duis eu metus orci. Phasellus et sagittis quam, non fringilla lorem. Quisque eget velit urna. Suspendisse bibendum nec mauris at consectetur. Integer auctor congue lorem. Integer sem magna, venenatis et aliquam eget, dignissim nec leo. Cras cursus libero at egestas pretium.
  </p>
  <br>
  <ng-container *ngIf="currencyData">
    <app-history-chart [dataSet]="currencyData" [dates]="currencyDates"></app-history-chart>
  </ng-container>
  Zmień przedział czasowy:
  <button (click)="changeDataSet(0)">Tydzień</button>
  <button (click)="changeDataSet(1)">Miesiąc</button>
  <button (click)="changeDataSet(2)">3 miesiące</button>
  <button (click)="changeDataSet(3)">Rok</button>
  <button (click)="changeDataSet(4)">3 lata</button>
  <button (click)="changeDataSet(5)">5 lat</button>
  <button (click)="changeDataSet(6)">10 lat</button>
  <br><br>
  <p>
    Sed eu justo iaculis, blandit sem eget, tempus ipsum. Cras interdum bibendum velit, eget ultricies quam faucibus vitae. Etiam magna quam, fringilla sed lacus at, efficitur placerat dui. Integer sapien leo, rhoncus eget malesuada quis, faucibus ac lacus. Morbi sapien est, semper vel consequat sit amet, finibus non urna. Sed in justo erat. Etiam venenatis dictum lacus semper vestibulum. Aliquam aliquam mauris et interdum iaculis. Aliquam erat volutpat. Sed risus risus, ultrices convallis auctor ut, sagittis at elit. Suspendisse ut diam cursus, viverra elit id, maximus ipsum. Nullam pharetra feugiat augue vel efficitur. Proin pellentesque ligula id nibh sagittis, nec auctor erat varius. In sed nisl vitae dui aliquet finibus. Curabitur id ultricies justo, eget imperdiet lorem.
  </p>

  </mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Zamknij</button>
</mat-dialog-actions>


<!-- Copyright 2020 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
