<div class='container'>
  <b>Kursy walut wyznaczone dla: {{baseCurrency}}</b><br>
  Zmień walutę podstawową:
  <select id="base-currency" (change)="handleSelectionEvent($event)"><br><br>
    <option value="PLN">PLN polski złoty</option>
    <ng-container *ngFor="let currencyName of availableCurrencies">
      <option value="{{currencyName}}">{{ currencyName }} {{currencies.get(currencyName).name}}</option>
    </ng-container>
  </select>
  <br><br>
  <h2>Obecne kursy walut:</h2>
    <ng-container *ngFor="let currencyName of currenciesNames">
      <ng-container *ngIf="currencyName === 'EUR'; else otherCountry">
        <img src='https://icon-icons.com/icons2/1694/PNG/64/eueuropeanunionflag_111740.png'>
        &nbsp;&nbsp;<b>{{currencyName}}</b> {{currencies.get(currencyName).name}}
      </ng-container>
      <ng-template #otherCountry>
        <img src='https://www.countryflags.io/{{currencyName.substring(0,2)}}/flat/64.png'>
        &nbsp;&nbsp;<b>{{currencyName}}</b> {{currencies.get(currencyName).name}}
      </ng-template>
      <ng-container *ngIf="currencies.get(currencyName)?.additionalInfo?.valueChange >= 0">
        &nbsp;&nbsp;<img src="assets/icons/green-up-arrow.ico"><br>
      </ng-container>
      <ng-container *ngIf="currencies.get(currencyName)?.additionalInfo?.valueChange < 0">
        &nbsp;&nbsp;<img src="assets/icons/red-down-arrow.ico"><br>
       </ng-container>

       Bieżący kurs: <b>{{currencies.get(currencyName).value}} {{baseCurrency}}</b><br>
       Ostatnia zmiana: {{currencies.get(currencyName)?.additionalInfo?.valueChange}} {{baseCurrency}} <br>
       Ostatnia zmiana [%]: {{currencies.get(currencyName)?.additionalInfo?.percentageChange}}<br>


       <br>
  </ng-container>
</div>
