<div class='container'>
  <b>Kursy walut wyznaczone dla: {{baseCurrency}}</b> <img src='https://flagcdn.com/64x48/{{baseCurrency.toLowerCase().substring(0,2)}}.png'><br><br>
  Zmień walutę odniesienia:
  <select id="base-currency" (change)="handleSelectionEvent($event)"><br><br>
    <option value="PLN">PLN polski złoty</option>
    <ng-container *ngFor="let currencyName of availableCurrencies">
      <option value="{{currencyName}}">
        <img src='https://flagcdn.com/64x48/{{currencyName.toLowerCase().substring(0,2)}}.png'>
        {{ currencyName }} {{currencies.get(currencyName).name}}</option>
    </ng-container>
  </select>

  <br><br><br>
  <h2>Obecne kursy walut:</h2>

    <div class="row">
      <ng-container *ngFor="let currencyName of mainCurrenciesNames">
        <div class="col-lg-3">
          <app-forex-pair-info-card
            [currencyPairName]="createFullForexPair(currencyName)"
            [currentValue]="mainCurrencies.get(currencyName).value"
            [lastValueChange]="mainCurrencies.get(currencyName)?.additionalInfo?.valueChange"
            [lastPercentageChange]="mainCurrencies.get(currencyName)?.additionalInfo?.percentageChange"
          ></app-forex-pair-info-card><br>
        </div>
      </ng-container>

    </div>

    <br><br><div class="money-icon">
      <img src="assets/icons/money.ico">
      <img src="assets/icons/money.ico">
    </div><br><br>
    <div class="row">
      <ng-container *ngFor="let currencyName of currenciesNames">
        <div class="col-lg-3">
          <app-forex-pair-info-card
            [currencyPairName]="createFullForexPair(currencyName)"
            [currentValue]="currencies.get(currencyName).value"
            [lastValueChange]="currencies.get(currencyName)?.additionalInfo?.valueChange"
            [lastPercentageChange]="currencies.get(currencyName)?.additionalInfo?.percentageChange"
          ></app-forex-pair-info-card><br>
        </div>
    </ng-container>
    </div>
</div>
<br>
