<mat-card class="mat-elevation-z4">
  <mat-card-header>
    <mat-card-title>
      <img src='https://www.countryflags.io/{{currencyPairName.substring(0,2)}}/flat/64.png'>
      <img src='https://www.countryflags.io/{{currencyPairName.substring(4,6)}}/flat/64.png'>
      <b>{{currencyPairName}}</b>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <ng-container *ngIf="currentValue > 0">
      <img src="assets/icons/green-up-arrow.ico">
    </ng-container>
    <ng-container *ngIf="currentValue < 0">
      <img src="assets/icons/red-down-arrow.ico">
    </ng-container><h6><b>{{ currentValue }}</b></h6>
    <p>{{ lastValueChange }}<br>{{ lastPercentageChange }} [%]</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>Więcej informacji</button>
  </mat-card-actions>
</mat-card>
