<mat-card class="forex-pair-info">
  <mat-card-header>
    <mat-card-title>
      <img src='https://flagcdn.com/64x48/{{currencyPairName.toLowerCase().substring(0,2)}}.png'>
      <img src='https://flagcdn.com/64x48/{{currencyPairName.toLowerCase().substring(4,6)}}.png'>
      <b>{{currencyPairName}}</b>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <b>{{ currentValue }}</b>
    <ng-container *ngIf="lastValueChange > 0">
      <img src="assets/icons/green-up-arrow.ico">
    </ng-container>
    <ng-container *ngIf="lastValueChange < 0">
      <img src="assets/icons/red-down-arrow.ico">
    </ng-container>
    <p>{{ lastValueChange }}<br>{{ lastPercentageChange }} [%]</p>
  </mat-card-content>
  <mat-card-actions>
    <button id={{currencyPairName}} (click)="moreInfoCallback($event)">Więcej informacji</button>
  </mat-card-actions>
</mat-card>
