#exchanger-calculation-button {
  background-color: rgb(87, 112, 165);
  width: 20%;
  border: 2px solid;
  margin: auto;
  color: white;
  display: flex;
  justify-content: center;
}

.exchanger-placeholder {
  background-color: #EBF2FA;
  padding: 2rem;
}

#amount-field {
  padding: 0.2rem;
  display: flex;
  justify-content: center;
}

#to-field {
  background-color: white;
  border: 2px solid;
  width: 100%;

}
#from-field {
  background-color: white;
  border: 2px solid;
  width: 100%;
}

.exchange-icon {
  display: inline-block;
  padding: 1rem;
}

#exchange-swap-icon {
  display: inline-block;
  padding: 1rem;
}

#exchange-swap-icon:hover {
  cursor: pointer;
}

.select-placeholder {
  display: inline-block;
  padding: 1rem;
  min-width: 10rem;
  background-color: rgb(216, 213, 213);
}

.selects-form {
  display: flex;
  justify-content: center;
}

.date {
  float: right;
}

.exchange-result {
  float: center;
  text-align: center;
  padding: 0.2rem;
  border: 2px solid orange;
  background-color: rgb(238, 222, 6);
}
