#exchanger-calculation-button {
  background-color: rgb(141, 168, 236);
  border: 1px solid black;
  margin: auto;
  color: white;
}

#swap-currencies-button {
  border: 1px solid black;
  background-color: rgb(235, 235, 235);
}

.exchanger-buttons {
  text-align: center;
}

.exchanger-placeholder {
  /* background-color: #f4fbfd; */
  padding: 1rem;
  border-radius: 25px;
  /* border: 1px solid black; */
  /* display: flex; */
  /* background-color: rgb(58, 57, 52); */
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

#amount-field {
  padding: 0.2rem;
  justify-content: center;
  vertical-align: middle;
}

.amount {
  padding: 1rem;
  border-radius: 25px;

}

.col {
  padding: 0.2rem;
}
/*
#to-field {
  background-color: white;
  border: 2px solid;
  height: 3rem;
} */

/* #from-field {
  background-color: white;
  border: 2px solid;
  height: 3rem;
} */

.exchange-icon {
  display: inline-block;
  padding: 1rem;
  background-image: url("./../../../assets/icons/exchange-arrows.ico");
}

.exchange-icon:hover {
  cursor: pointer;
}

#exchange-swap-icon {
  padding: 1rem;
  text-align: center;
}

#exchange-swap-icon:hover {
  cursor: pointer;
}

.select-placeholder {
  display: inline-block;
  padding: 1rem;
  min-width: 10rem;
}

.selects-form {
  padding: 0.5rem;
  text-align: center;
  justify-content: center;
  display: inline-block;
  border: 1px solid black;
  border-radius: 25px;
  background-color: #cce8f5;
}

.date {
  float: right;
}

.exchange-result {
  float: center;
  text-align: center;
  padding: 0.2rem;
  border: 2px solid orange;
  border-radius: 25px;
  background-color: #ebf7ad;
}

.mat-form-field {
  text-align: center;
  border: 0px;
}



.container {
  border-radius: 25px;
  background: #dff6ff;
  padding: 20px;
  border: 1px solid black;
}

.flag-icon {
  text-align: center;
}

.inline-block {
  display: inline-block;
}
