<div class="exchanger-placeholder">
      <h4><b>Wymiana walut</b></h4>
      <div class='amount'>
        Mam <mat-form-field id='amount-field'>
          <input type="number" matInput [(ngModel)]="amount" (keydown)="handleSelectionEvent($event)" required>
        </mat-form-field><br>
      </div>
        <div class='selects-form'>

          <div class='select-placeholder'>
            <mat-form-field>
              <mat-select [(ngModel)]="fromCurrency">
                <mat-option value="PLN"><b>PLN</b> {{currenciesFullNames?.get('PLN')}}</mat-option>
                <ng-container *ngFor="let currencyName of availableCurrencies">
                  <mat-option value="{{currencyName}}">
                    <img src='https://flagcdn.com/64x48/{{currencyName.toLowerCase().substring(0,2)}}.png'>
                    {{ currencyName }} {{currenciesFullNames?.get(currencyName)}}
                  </mat-option>
                </ng-container>
              </mat-select>

              </mat-form-field>
              <br>
              <div class='flag-icon'>
                <img src='https://flagcdn.com/64x48/{{fromCurrency.toLowerCase().substring(0,2)}}.png'>
              </div>
          </div>

          <div class='select-placeholder'>

            <mat-form-field>
              <mat-select [(ngModel)]="toCurrency">
                    <mat-option value="EUR"><b>EUR</b> {{currenciesFullNames?.get('EUR')}}</mat-option>
                    <ng-container *ngFor="let currencyName of availableCurrencies">
                      <mat-option value="{{currencyName}}">
                        <img src='https://flagcdn.com/64x48/{{currencyName.toLowerCase().toLowerCase().substring(0,2)}}.png'>
                        {{ currencyName }} {{currenciesFullNames?.get(currencyName)}}
                      </mat-option>
                    </ng-container>
                  </mat-select>


                </mat-form-field>
                <br>
                <div class='flag-icon'>
                  <img src='https://flagcdn.com/64x48/{{toCurrency.toLowerCase().toLowerCase().substring(0,2)}}.png'>
                </div>

          </div>



          <div class='exchanger-buttons'>
            <button mat-button color="primary" id='exchanger-calculation-button' (click)="calculateExchange()">Wymień</button>
            &nbsp;
            <button mat-button color="secondary" id='swap-currencies-button' (click)="swapFromAndToCurrencies()"><i class="fa fa-exchange"></i></button>
          </div>
        </div>
        <br>
        <div class='exchange-result' *ngIf="exchageRateInfo">
          <h4>
            <b>{{ exchageRateInfo?.amount }} {{ exchageRateInfo?.fromCurrency }}</b>
            =
            <b>{{ exchageRateInfo?.amountAfterExchange }} {{ exchageRateInfo?.toCurrency }}</b>
          </h4><br>
          <h5>
            1 {{ exchageRateInfo?.fromCurrency }} = {{ exchageRateInfo?.rate }} {{ exchageRateInfo?.toCurrency }}<br>
          </h5>
          <h6>
            1 {{ exchageRateInfo?.toCurrency }} = {{ 1 / exchageRateInfo?.rate }} {{ exchageRateInfo?.fromCurrency }}<br>
          </h6>
          <div class='date'>Data: <b>{{exchageRateInfo?.date}}</b></div>
        </div>




    </div>



